html {
    box-sizing: border-box;
}
    
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-------navigation--------*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1202px;
    min-height: 51px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
   /* padding-bottom: 130px;*/
}


.logo {
    font-size: 30px;
    text-decoration: none;
    color: #95e1d3;
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 490px;
}

.menu li {
    display: block;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #95e1d3;
}


.menu a:hover {
    color: #f38181;
    transition: linear 200ms;
}

.menu a:hover::after {
    content: "";
    display: table;
    width: 50px;
    height: 3px;
    background-color: #f38181;
}


/*-------AMAZING SERVICES--------*/


.services {
    margin: 0 auto;
    padding: 0;
    width: 1202px;
}

.heading {
    margin: 130px 0 67px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}


.heading::after {
    content: "";
    display: table;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background-color: #f38181;
}

.heading span {
    display: block;
    font-family: 'Kaushan Script';
    font-size: 24px;
}



/*----------Services------*/

.services-container{
    margin: 0 auto;
}

.services-blok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-blok li {
    display: block;
}

.blok-item {
    position: relative;
    width: 320px;
    padding-left: 62px;
    padding-bottom: 102px;
}


.icon-1::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/alarm.png');
    background-repeat: no-repeat;
}

.icon-2::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/line-graph.png');
    background-repeat: no-repeat;
}

.icon-3::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/computer.png');
    background-repeat: no-repeat;
}  

.icon-4::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/book.png');
    background-repeat: no-repeat;
}   

.icon-5::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
}  

.icon-6::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
}    

.blok-item h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    margin-bottom: 20px;
}

.blok-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
}


/*------Meet our team-------*/


.team-container {
    width: 1202px;
    margin: 0 auto;
}

.text-title {
    max-width: 944px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    padding-bottom: 97px;
    text-align: center;
}



.gallery-box {
    display: flex;
    justify-content: space-between;    
}

.gallery-box li {
    display: block;
}

.gallery h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase; 
    padding-top: 31px;
    padding-bottom: 16px;
    text-align: center;
    font-weight: 300;
}

.gallery p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
    padding-bottom: 85px;
}


.gallery-item:hover .overlay-container {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
    transition: linear 200ms;
}

.overlay-container {
    position: relative;
    width: 100%;
    font-size: 0;
}

.btn-icon {
  position: absolute;
  width: 380px;
  height: 470px;
  bottom: 0;
  top: 0;
  background: linear-gradient(to bottom, #ed8989, #e6d184 );
  opacity: 0;
}

.overlay-container:hover .btn-icon {
   display: flex;
   justify-content: center;
   align-items: center; 
   opacity: 0.9;
}

.facebook {
    background-image: url('../images/facebook.png');
}

.twitter {
    background-image: url('../images/twitter.png');
}

.pinterest {
    background-image: url('../images/pinterest.png');
}

.instagram {
    background-image: url('../images/instagram.png');
}

.overlay-icon {
    width: 55px;
    height: 56px;
    margin: 1px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-icon:hover{
    background-color: #98d5cb;
    transition: linear 200ms;
}


/*-------------footer--------*/

.footer-info {
    width: 1202px;
    margin: 0 auto;
}

.info-box {
    min-height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b3b3;
}

.footer-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.footer-info span {
    color: #f38181;
}

.subscribe {
    font-size: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    
}

.subscribe input {
    height: 40px;
    
}

.subscribe input[type="text"] {
    background: #fff;
    width: 230px;
    height: 36px;
    font-style: italic;
    outline: none;
    padding: 0 12px; 
    opacity: 0.5;
    
   

    
}

.subscribe input[type="submit"] {
    color: #fff;
    background-color: #95e1d3;
    width: 160px;
    font-weight: 500;
    position: relative;
    border: none;
    outline: none;
}

.subscribe input[type="submit"]:hover {
    background-color: #45e2c5;
    transition: linear 200ms;
}
