
.container {
    text-align: center;
}
  
.body-baner {
    height: 700px;
    background-image: url('../images/homework-08_Desktop.jpg');
    background-repeat: no-repeat;
    background-position: top;
}


.site-header {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
}


.logo {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.site-header .button-header {
    width: 90px;
    height: 36px;
    font-size: 14px; 
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

.button-header:hover {
    border: 2px solid;
}



.baner {
    margin: 0 auto;
    padding-top: 160px;
}

.baner-info h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-bottom: 22px;
}

.baner-info p { 
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 34px;
}

.baner-info .button-partner {
    width: 225px;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
}

.baner-info button:hover {
    background-color: #ff4e50;
}

.container h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 36px;
}


.section-best-holiday {
    padding-bottom: 74px;
}

.icons-advertising {
   display: block;
   list-style: none;
}


.icons-advertising li {
    margin-bottom: 30px;
}


.icons-advertising h4 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    padding: 21px 0;
}

.icons-advertising p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    color: #8f8f8f;
    text-align: center;
}

.partner-info .button-other {
    color: #ff4e50;
    border: 2px solid #ff4e50;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

.partner-info .button-other:hover {
    background-color: #ff4e50;
    color: #fff;
}

