.site-baner {
    height: 1000px;
    background-image: url('../images/baner-min.png');
    background-position: center;


    &__heading {
        padding-top: 175px;
        font-size: 150px;
        line-height: 130px;
        color: $primary-color-headertext;
        margin-bottom: 126px;
    }

    &__heading span {
        font-size: 72px;
    }

    &__btn {
        display: block;
        margin:0 auto;
        margin-bottom: 200px;
        color: $primary-color-headertext;
        font-family:'Montserrat';
        font-weight: bold;
        font-size:14px;
        padding:12px 30px;
        border: 3px solid #fff;
        outline: none;
        background: transparent;
        cursor: pointer;
    }
}

