html {
  box-sizing: border-box;
}
  
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

  
body {
  margin: 0;
  padding: 0;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}
  

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

/*---------navigation----------*/


.navigation {
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 38px 0 32px;
}

.logo {
  float: left;
  text-decoration: none;
}

.logo h2 {
  font-family: 'Roboto', sans-serif;
  color: #8e8c8c;
  line-height: 28px;
  font-size: 32px;
  font-weight: 300;
}

.logo::first-letter {
  font-weight: 900;
  color:#29bea0;
}

.menu {
  float: right;
  list-style: none;
  text-align: center;
}

.menu li {
  float: left;
  margin-right: 30px;
}

.menu a {
  display: block;
  font-family: 'Myriad Pro-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #1f1212;
  text-decoration: none;
  line-height: 11px;
}

.menu a:hover {
  color: #29c0a3;
}    


/*--------slider-container---------*/

.slider-container {
  margin: 0 auto;
  width: 1110px;
  height: 602px;
}

.slider-container img {
  height: 602px;
}

.slider-box {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}



button {
  position: absolute;
  display: inline-block;
  width: 105px;
  height: 105px;
  margin: 0 auto;
  padding: 0;
  border: none;
  bottom: 250px;
  background-color: #1abc9c;
  background-repeat: no-repeat;
  background-position: center;
}

.previous {
  left: 100px;
  background-image: url('../images/icon/Arrow-prev.png');
}

.following {
  right:100px;
  background-image: url('../images/icon/Arrow.png');
}
 

.description {
  color:  white;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  bottom: 270px;
  left: 270px;
  position: absolute;
}

.description h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase
}

.description p {
  font-size: 24px;
  font-weight: 300;
}


/*------------new-collection ---*/


.new-collection {
  margin: 0 auto;
  padding-top: 101px; 
  padding-bottom: 100px;
  font-size: 0;
  background-color: #e9f0fd;
}

.new-collection-container {
  width: 1110px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin: 0;
  margin-bottom: 131px;
  font-size: 48px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #515151;   
}
  
.heading::after {
  content: "";
  display: table;
  clear: both;
  margin: 32px auto 0;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}


.product-menu {
  margin: 0;
  padding: 0;
}

.product-menu a {
  text-decoration: none;
}


.featured-block-items {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.overlay-container {
  position: absolute;
  width: 236px;
  height: 262px;
  margin: 10px;
  padding: 0;
  background-color: #737373;
  opacity: 0;
}

.icon-items {
  width: 236px;
  height: 262px;
  float: left;
  position: absolute ; 
}


.icon-items button:nth-child(3) {
  margin-right: 0;
}

.icon-items button:nth-child(4) {
  margin: 0;
}


.overlay-icon {
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin-bottom: 7px;   
  background-image: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-icon:hover{
  border: none;
  background-color: #1abc9c; 
}

.like {
  background-image: url('../images/icon/like.png');
  top: 80px;
  left: 35px;
}

.compare {
  background-image: url('../images/icon/compare.png');
  top: 80px;
  left: 94px;
}

.history {
  background-image: url('../images/icon/history.png');
  top: 80px;
  right: 35px;
}

.buy {
  background-image: url('../images/icon/buy.png');
  background-color: black;
  background-position: 15px 10px;
  width: 167px;
  left: 35px;
  bottom: 76px;
  /*opacity: 1;*/
}

.text-icon{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: ivory;
  position: absolute;
  top: 15px;
  right: 13px;
}

.product-menu li:nth-last-child(1) {
  margin-right: 0;
}

.featured-block-items:hover .overlay-container {
  opacity: 0.6;
}

.featured-block-items:hover .blok-name-price {
  background: #1abc9c;
}


.product-menu img {
  display: block;
  margin: 0;
}
 
.blok-name-price {
  height: 40px;
  font-family: 'Roboto' ,sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color:#323232 ;
}

.blok-name-price p {
  margin: 0;
  color:white;
  font-size: 18px; 
}

.name-product {
  padding: 8px;
  float: left;
  height: 100%;
}

.price {
  float: right;
  padding: 10px;
  text-align: center;
  width: 54px;
  background-color:#ffffff71 ;
}


/*-----footer-------*/

.footer {
  height: 88px;
  margin: 0 auto;
  height: 88px;
  background-color: #323232;
}

.text-box { 
  margin: 0;
  padding: 38px 0 30px;
  text-align: center;
}

.text {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #fff;
}

.text-ThemenGraph {
  color: #45b6a1;
}


