@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/Kaushanscript.woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family:'Montserrat';
    src: url('../fonts/montserratbold.woff');
    font-weight: 600;
    font-style: bold;
  }
  
  @font-face {
    font-family:'Montserrat';
    src: url('../fonts/montserrat.woff');
    font-weight: 500;
  }
  @font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto.woff');
    font-weight: 400;
    font-style: normal;
  }