$site-decoretext-Kaushan: 'Kaushan Script',sans-serif;
$main-heading-stack: 'Montserrat', sans-serif;
$services-item-text: 'Roboto' , sans-serif;

$primary-color-headertext: #ffffff;
$color-icon-cards: #f38181;
$color-backgrounds-icons: #fce38a;
